
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  .image-container img {
    animation: rotate 5s linear infinite; /* 5s duration, linear timing, infinite loop */
  }
  
