/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333333;
    color: #ffffffe4;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    background-color: #791313;
    color: #faf2f2;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Media queries */
  @media screen and (max-width: 600px) {
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  }
  