body{
    font-family: cursive, sans-serif;
}
h1{
    text-align: center;
}
form{
    max-width: 300px;
    margin: 0px;
    padding: 10px;
    border: 1px solid #c62f2f;
    border-radius: 10px;
}
form div{
    margin-bottom: 10px;
}
label{
    display: block;
}
input[type="text"],
input[type="email"],
input[type="password"],{
   width: 100%;
    padding:10px;
    border: 1px solid #c62f2f;
    border-radius: 5px;
}
